.title {
  font-family: -apple-system, Sans-Serif;
  text-align: center;
  font-size: 24pt;
  color: #3f894a;
}

.threejs {
  margin-top: 24px;
  min-height: 300px;
  margin-bottom: 24px;
}

.controls {
  text-align: center;
}

.footer .desc {
  text-align: center;
}
